.interaction-banner {
    height: 118px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0px 10%;
    border-bottom: 1px solid #000;
}

.interaction-container {
    display: flex;
    align-items: center;
    width: 50%;

    p {
        margin-right: 10px;
        width: 100%;
    }

    .btn-contact {
        width: 100%;
        padding: 15px;
        background-color: #D8D8D8;
        color: #000;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        text-align: center;

        &:hover {
            background-color: gray;
        }
    }
}

.navigation-container {
    display: flex;
    align-items: flex-end;
}

.navigation-arrows {
    display: flex;
    width: 81px;
    justify-content: space-between;

    .arrow-left,
    .arrow-right {
        position: relative;

        .thumbnail-preview,
        .thumbnail-right {
            display: none;
            position: absolute;
            top: -81px;
            width: 81px;
            height: 71px;
            border: 1px solid #ddd;
            background-color: white;
            z-index: 10;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .thumbnail-right {
            right: 0;
        }

        &:hover {
            .thumbnail-preview,
            .thumbnail-right {
                display: block;
            }
        }

    }
}