.footer {
    font-family: $font-title;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: $background-color;
    color: $black;
    font-size: 1rem;
    text-transform: uppercase;
    justify-content: center;
    border-top: 2px solid $black;
    /* Ajoute une bordure en haut de 2px noire */
    text-align: center;
    margin-top: 50px;

    @media (max-width: 615px) {
        flex-direction: column;
        padding: 50px 0 50px 0;
    }

    &__links {
        display: flex;
    }

    .footer__menu {
        list-style: none;
        display: flex;
        gap: 70px;
        padding: 0;
        margin: 0;

        @media (max-width: 615px) {
            flex-direction: column;
            gap: 35px;
        }

        li {
            display: inline;

            a {
                color: $black;
                text-decoration: none;
                transition: color 0.3s ease;
                font-weight: 400;

                &:hover {
                    color: $black;
                    font-weight: 700;
                }
            }
        }
    }

    &__text {
        margin-left: 70px;

        @media (max-width: 615px) {
            margin-left: unset;
            margin-top: 35px;
        }
    }
}