.related-photos {
    padding: 20px;
    background-color: #f9f9f9;
    position: relative;
}

.related-photos h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.related-photos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-photos-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 100%;
    position: relative;
}

.related-photos-grid .photo-bloc {
    flex: 1;
    max-width: calc(50% - 20px);
    overflow: hidden;
}

.related-photos-grid .photo-bloc img {
    width: 100%;
    height: auto;
    display: block;
}