// Couleurs
$red: #E00000;
$black: #000000;
$medium-gray: #D8D8D8;
$secondary-red: #FE5858;
$dark-blue: #313144;
$light-gray: #E5E5E5;
$tertiary-red: #FFD6D6;
$dark-gray: #C4C4C4;

// Polices
$font-title: 'Space Mono', monospace;
$font-paragraph: 'Poppins', sans-serif;
