@charset "UTF-8";
/* Utilisation des polices Google Font en local */
/* Space Mono */
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: #000000;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.0705882353);
  /* Navbar */
  /*  Small device */
  /*  Medium device - Bonus */
}
header ul {
  list-style: none;
}
header .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  background: white;
  color: #000000;
  font-weight: 400;
}
header .navbar__links {
  display: flex;
  gap: 30px;
}
header .navbar__links li {
  padding: 0 10px;
}
header .navbar__links li a {
  color: #000000;
  text-decoration: none;
}
header .navbar__links li :hover {
  font-weight: 700;
}
header .burger {
  display: none;
}
@media screen and (max-width: 767.98px) {
  header {
    /* Toggle menu */
  }
  header .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
  header .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 105px);
    position: absolute;
    top: 105px;
    right: 0;
    background: #E00000;
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  header .navbar__links li {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  header .navbar__links li a {
    display: block;
    font-size: 2.2rem;
    font-weight: 400;
    line-height: 40px;
    color: white;
  }
  header .navbar__links li a :hover {
    padding-left: 2rem;
    letter-spacing: 5px;
    font-weight: 700;
  }
  header .show-nav ul {
    background-color: #E00000;
    width: 100%;
    transform: translateX(0);
    /* Animations */
  }
  header .show-nav ul :nth-child(1) {
    transition: all 1s ease-out;
  }
  header .show-nav ul :nth-child(2) {
    transition: all 1.3s ease-out;
  }
  header .show-nav ul :nth-child(3) {
    transition: all 1.6s ease-out;
  }
  header .show-nav ul :nth-child(4) {
    transition: all 1.9s ease-out;
  }
  header .show-nav ul li {
    transform: translateX(0);
  }
  header .show-nav ul li a {
    transition: all 0.4s ease-in-out;
  }
  header .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  header .burger .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: #000000;
    transition: all 0.5s ease-in-out;
  }
  header .burger .bar:before,
  header .burger .bar:after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: #000000;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  header .burger .bar:before {
    transform: translateY(-12px);
  }
  header .burger .bar:after {
    transform: translateY(12px);
  }
  header .show-nav .bar {
    width: 0;
    background: transparent;
  }
  header .show-nav .bar::before {
    transform: rotate(45deg);
  }
  header .show-nav .bar::after {
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 768px) {
  header li > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: #000000;
    transition: width 0.4s;
  }
  header li:hover > a::after {
    width: 100%;
  }
}

.footer {
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: center;
  border-top: 2px solid #000000;
  /* Ajoute une bordure en haut de 2px noire */
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 615px) {
  .footer {
    flex-direction: column;
    padding: 50px 0 50px 0;
  }
}
.footer__links {
  display: flex;
}
.footer .footer__menu {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}
@media (max-width: 615px) {
  .footer .footer__menu {
    flex-direction: column;
    gap: 35px;
  }
}
.footer .footer__menu li {
  display: inline;
}
.footer .footer__menu li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: 400;
}
.footer .footer__menu li a:hover {
  color: #000000;
  font-weight: 700;
}
.footer__text {
  margin-left: 70px;
}
@media (max-width: 615px) {
  .footer__text {
    margin-left: unset;
    margin-top: 35px;
  }
}

dialog.modale::backdrop {
  background: rgba(87, 85, 85, 0.253);
  backdrop-filter: blur(1px);
}

@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.animate {
  animation-name: animate-top;
  animation-duration: 0.7s;
}

.modale {
  position: fixed;
  z-index: 1;
  padding: 0;
  left: 0;
  top: 0;
  border: 0;
}

.modale__content {
  position: relative;
  background-color: white;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modale__header {
  width: 100%;
}

.modale__close {
  color: #000000;
  float: right;
  z-index: 1;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.modale__body {
  padding: 2px 16px;
}

/* Form container styling */
.wpcf7-form {
  max-width: 400px;
  /* Optional: limit the maximum width of the form container */
  margin: 0 auto;
  /* Center the form on the page */
}

form.wpcf7-form.init {
  padding-top: 20px;
  width: 60%;
}

/* Label and input field styling */
.wpcf7-form p {
  margin: 0 0 20px 0;
}

.wpcf7-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.wpcf7-form input,
.wpcf7-form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Submit button styling */
.wpcf7-form input[type=submit] {
  width: 100%;
  /* Button takes the full width */
  padding: 15px;
  background-color: #D8D8D8;
  /* Button background color */
  color: #000000;
  /* Optional: button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}
.wpcf7-form input[type=submit]:hover {
  font-weight: 700;
  background-color: #000000;
  color: white;
}

/* Ensuring the form's response output is styled */
.wpcf7-response-output {
  margin-top: 20px;
  font-size: 14px;
}

.photo-details-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 40px 10% 0px 10%;
}
.photo-details-container .photo-content {
  width: 50%;
}
.photo-details-container .photo-content img {
  max-width: 100%;
  height: 100%;
}

.photo-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  /* Bordure en bas */
}

.photo-info-content {
  text-transform: uppercase;
}
.photo-info-content h2 {
  font-family: "Space Mono", monospace;
  font-size: 64px;
  font-style: italic;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 20px;
}
.photo-info-content p {
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0;
  letter-spacing: 0.1em;
}

.interaction-banner {
  height: 118px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0px 10%;
  border-bottom: 1px solid #000;
}

.interaction-container {
  display: flex;
  align-items: center;
  width: 50%;
}
.interaction-container p {
  margin-right: 10px;
  width: 100%;
}
.interaction-container .btn-contact {
  width: 100%;
  padding: 15px;
  background-color: #D8D8D8;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  font-weight: 400;
  font-family: "Space Mono", monospace;
}
.interaction-container .btn-contact:hover {
  background-color: #000000;
  color: white;
  font-weight: 700;
}

.navigation-container {
  display: flex;
  align-items: flex-end;
}

.navigation-arrows {
  display: flex;
  width: 81px;
  justify-content: space-between;
}
.navigation-arrows .arrow-left,
.navigation-arrows .arrow-right {
  position: relative;
}
.navigation-arrows .arrow-left .thumbnail-preview,
.navigation-arrows .arrow-left .thumbnail-right,
.navigation-arrows .arrow-right .thumbnail-preview,
.navigation-arrows .arrow-right .thumbnail-right {
  display: none;
  position: absolute;
  top: -89px;
  width: 81px;
  height: 80px;
  border: 1px solid #E5E5E5;
  background-color: white;
  z-index: 10;
}
.navigation-arrows .arrow-left .thumbnail-preview img,
.navigation-arrows .arrow-left .thumbnail-right img,
.navigation-arrows .arrow-right .thumbnail-preview img,
.navigation-arrows .arrow-right .thumbnail-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.navigation-arrows .arrow-left .thumbnail-right,
.navigation-arrows .arrow-right .thumbnail-right {
  right: 0;
}
.navigation-arrows .arrow-left:hover .thumbnail-preview,
.navigation-arrows .arrow-left:hover .thumbnail-right,
.navigation-arrows .arrow-right:hover .thumbnail-preview,
.navigation-arrows .arrow-right:hover .thumbnail-right {
  display: block;
}

.related-photos {
  padding: 30px 0px;
  position: relative;
  margin: 0px 10%;
  background-color: white;
}

.related-photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related-photos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1vw;
  max-width: 100%;
  position: relative;
}
@media (max-width: 700px) {
  .related-photos-grid {
    gap: 3vw;
  }
}

.related-photos h3 {
  font-size: 24px;
  margin-bottom: 30px;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  text-align: left;
  font-weight: 400;
}

.related-photos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.related-photos-grid .photo-bloc {
  flex: 1;
  max-width: calc(50% - 20px);
  overflow: hidden;
}

.related-photos-grid .photo-bloc img {
  width: 100%;
  height: auto;
  display: block;
}

.bloc-photo {
  width: 39vw;
  height: 40vw;
  position: relative;
  overflow: hidden;
}
@media (max-width: 700px) {
  .bloc-photo {
    width: 85vw;
    height: 75vh;
  }
}
.bloc-photo .photo-link,
.bloc-photo .photo-content,
.bloc-photo .photo-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bloc-photo .photo-link {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: none;
}
.bloc-photo .photo-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bloc-photo .photo-hover {
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  flex-direction: column;
}
.bloc-photo .photo-hover .hover-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.bloc-photo .photo-hover .hover-content .hover-top {
  align-self: flex-end;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.bloc-photo .photo-hover .hover-content .hover-middle {
  font-size: 33px;
  align-self: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bloc-photo .photo-hover .hover-content .hover-bottom {
  display: flex;
  justify-content: space-between;
  width: 91%;
  position: absolute;
  bottom: 20px;
  padding: 0 20px;
  text-transform: uppercase;
}
.bloc-photo .photo-hover .hover-content .hover-bottom .reference {
  align-self: flex-start;
}
.bloc-photo .photo-hover .hover-content .hover-bottom .categories {
  align-self: flex-start;
}
.bloc-photo:hover .photo-hover {
  display: flex;
}

.reference,
.categories {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

/* Filtres */
.filtres {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 60px 0 30px 0;
  gap: 30px;
}
@media (max-width: 700px) {
  .filtres {
    flex-direction: column;
    margin: 30px 0 30px 0;
  }
}

#filtre-tri {
  padding-left: 15vw;
}
@media (max-width: 700px) {
  #filtre-tri {
    padding-left: unset;
  }
}

.menu-deroulant {
  width: 20vw;
  height: 45px;
  border: 1px solid #B8BBC2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
@media (max-width: 700px) {
  .menu-deroulant {
    width: 70vw;
  }
}
.menu-deroulant:hover {
  border: 1.3px solid #215AFF;
}

.menu-titre {
  padding-left: 10px;
}

.cache {
  display: none;
}

.menu-fleche {
  padding-right: 10px;
  cursor: pointer;
}

.apparition {
  animation: fade-in-top-filtres 0.5s ease-in-out;
}

.rotation {
  transform: rotate(180deg) translateX(10px);
  transition: transform 0.5s ease-in-out;
}

.menu-ouvert {
  border: 1.3px solid #215AFF;
}

.menu-options {
  display: none;
  position: absolute;
  flex-direction: column;
  width: 20vw;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  justify-content: flex-start;
  align-items: center;
  z-index: 75;
}
@media (max-width: 700px) {
  .menu-options {
    width: 70vw;
  }
}

.menu-option {
  height: 45px;
  padding-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.vide {
  height: 45px;
  cursor: pointer;
}

.dernier {
  border-radius: 0 0 8px 8px;
}

.menu-option:hover {
  background-color: #FFD6D6;
}

.menu-option:active {
  background-color: #FE5858;
}

.menu-option:focus {
  background-color: #E00000;
}

.menu-option.selectionne {
  background-color: #E00000;
  color: white;
}

.menu-option.dernier-selectionne {
  background-color: #E00000;
  color: white;
  border-radius: 0 0 8px 8px;
}

main .hero {
  position: relative;
  text-align: center;
}
main .hero h1 {
  font-family: "Space Mono", monospace;
  font-size: 7vw;
  /* Utilisation de 10% de la largeur de la fenêtre pour la taille de la police */
  font-style: italic;
  font-weight: 900;
  line-height: 1.5;
  /* Ajustement du line-height pour qu'il soit proportionnel à la taille de la police */
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  -webkit-text-stroke: 2px white;
  color: transparent;
  text-transform: uppercase;
}
main .hero .photo-random {
  width: 100%;
  max-height: 962px;
  overflow: hidden;
}
main .hero .photo-random img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (max-width: 615px) {
  main .hero .photo-random img {
    height: 80vh;
  }
}
main .bloc-les-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .bloc-les-photos .filtres {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bloc-les-photos .affichage-des-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
main .bloc-les-photos .affichage-des-photos .zone-les-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vw;
}
@media (max-width: 700px) {
  main .bloc-les-photos .affichage-des-photos .zone-les-photos {
    gap: 3vw;
  }
}
main .bloc-les-photos .bouton-accueil {
  margin-top: 40px;
}
main .bloc-les-photos .bouton-accueil .voir-plus {
  font-family: "Space Mono", monospace;
  width: 300px;
  padding: 15px;
  background-color: #D8D8D8;
  color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s;
}
main .bloc-les-photos .bouton-accueil .voir-plus:hover {
  color: white;
  background-color: #000000;
  font-weight: 700;
}

/*********** Lightbox ***********/
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 666;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  animation: lightbox-opacite 0.5s ease-in-out;
}

.lightbox-fermeture {
  width: 100%;
  height: 20px;
}

.lightbox-fermeture i {
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  transform: scale(2);
  opacity: 0.8;
}

.lightbox-fermeture i:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.lightbox-affichage {
  width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.lightbox-affichage::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.lightbox-affichage img {
  animation: lightbox-opacite 0.8s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.lightbox-fleches {
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.precedente, .suivante {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 667;
}

.suivante {
  padding-right: 20px;
}

.precedente {
  padding-left: 20px;
}

.lightbox-precedente, .lightbox-suivante {
  cursor: pointer;
  opacity: 0.8;
}

.lightbox-precedente:hover, .lightbox-suivante:hover {
  font-weight: 800;
  transition: 0.3s;
  opacity: 1;
}

.precedente i, .suivante i {
  transform: scale(1.7);
  cursor: pointer;
  opacity: 0.8;
}

.precedente i:hover, .suivante i:hover {
  transform: scale(2);
  transition: 0.3s;
  opacity: 1;
}

.informations-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  gap: 480px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
}

.reference-photo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.categorie-photo {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

@keyframes lightbox-opacite {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
