/* Utilisation des polices Google Font en local */
/* SpaceMono */
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Bold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "SpaceMono";
  src: url("../fonts/SpaceMono-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-LightItalic.ttf") format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: white;
  color: #000000;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.0705882353);
  /* Navbar */
  /*  Small device */
  /*  Medium device - Bonus */
}
header ul {
  list-style: none;
}
header .navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  font-size: 1.1rem;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  background: white;
  color: #000000;
}
header .navbar__links {
  display: flex;
  gap: 30px;
}
header .navbar__links li {
  padding: 0 10px;
}
header .navbar__links li a {
  color: #000000;
  text-decoration: none;
}
header .burger {
  display: none;
}
@media screen and (max-width: 767.98px) {
  header {
    /* Toggle menu */
  }
  header .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }
  header .navbar__links {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0;
    height: calc(100vh - 105px);
    position: absolute;
    top: 105px;
    right: 0;
    background: #E00000;
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
    justify-content: center;
    align-items: center;
  }
  header .navbar__links li {
    transform: translateX(101%);
    transition: all 0.5s ease-in-out;
  }
  header .navbar__links li a {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 40px;
    color: white;
  }
  header .navbar__links li a :hover {
    padding-left: 2rem;
    letter-spacing: 5px;
  }
  header .show-nav ul {
    background-color: #E00000;
    width: 100%;
    transform: translateX(0);
    /* Animations */
  }
  header .show-nav ul :nth-child(1) {
    transition: all 1s ease-out;
  }
  header .show-nav ul :nth-child(2) {
    transition: all 1.3s ease-out;
  }
  header .show-nav ul :nth-child(3) {
    transition: all 1.6s ease-out;
  }
  header .show-nav ul :nth-child(4) {
    transition: all 1.9s ease-out;
  }
  header .show-nav ul li {
    transform: translateX(0);
  }
  header .show-nav ul li a {
    transition: all 0.4s ease-in-out;
  }
  header .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  header .burger .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
  }
  header .burger .bar:before,
  header .burger .bar:after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  header .burger .bar:before {
    transform: translateY(-12px);
  }
  header .burger .bar:after {
    transform: translateY(12px);
  }
  header .show-nav .bar {
    width: 0;
    background: transparent;
  }
  header .show-nav .bar::before {
    transform: rotate(45deg);
  }
  header .show-nav .bar::after {
    transform: rotate(-45deg);
  }
}
@media screen and (min-width: 768px) {
  header li > a::after {
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.4s;
  }
  header li:hover > a::after {
    width: 100%;
  }
}

.footer {
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: #000000;
  font-size: 1rem;
  text-transform: uppercase;
  justify-content: center;
}
.footer__links {
  display: flex;
}
.footer .footer__menu {
  list-style: none;
  display: flex;
  gap: 70px;
  padding: 0;
  margin: 0;
}
.footer .footer__menu li {
  display: inline;
}
.footer .footer__menu li a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .footer__menu li a:hover {
  color: #FE5858;
}
.footer__text {
  margin-left: 70px;
}

dialog.modale::backdrop {
  background: repeating-linear-gradient(60deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.3) 20px);
  backdrop-filter: blur(1px);
}

@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.animate {
  animation-name: animate-top;
  animation-duration: 0.7s;
}

.modale {
  position: fixed;
  z-index: 1;
  padding: 0;
  left: 0;
  top: 0;
  border: 0;
}

.modale__content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modale__header {
  width: 100%;
}

.modale__close {
  color: #020202;
  float: right;
  z-index: 1;
  position: relative;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.modale__body {
  padding: 2px 16px;
}

/* Form container styling */
.wpcf7-form {
  max-width: 600px;
  /* Optional: limit the maximum width of the form container */
  margin: 0 auto;
  /* Center the form on the page */
}

form.wpcf7-form.init {
  padding-top: 20px;
  width: 60%;
}

/* Label and input field styling */
.wpcf7-form p {
  margin: 0 0 20px 0;
}

.wpcf7-form label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.wpcf7-form input,
.wpcf7-form textarea {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Submit button styling */
.wpcf7-form input[type=submit] {
  width: 100%;
  /* Button takes the full width */
  padding: 15px;
  background-color: #D8D8D8;
  /* Button background color */
  color: #000;
  /* Optional: button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

/* Ensuring the form's response output is styled */
.wpcf7-response-output {
  margin-top: 20px;
  font-size: 14px;
}

.photo-details-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 10%;
}

.photo-info {
  width: 50%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-bottom: 1px solid #000; /* Bordure en bas */
}

.photo-info-content {
  text-transform: uppercase;
}
.photo-info-content h2 {
  font-family: "Space Mono", monospace;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  margin-bottom: 10px;
}
.photo-info-content p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
}
.photo-info-content p .reference {
  font-weight: bold;
}

.photo-content {
  width: 50%;
}

/*# sourceMappingURL=main.css.map */
